<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>SteamChat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- CSS Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- custom scrollbar stylesheet -->
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="css/steamchat.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Google CDN jQuery UI stylesheet -->
	<link rel="stylesheet" href="css/Jqueryui-1.10.4-themes.css">
	<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

	<script src="https://unpkg.com/vue"></script>

</head>

<body>
	<div id="app">
		<div class="navbar navbar-default navbar-fixed-top" style="background-color:rgba(40,40,40,0.5);border-bottom:solid;border-width:1px;border-color:rgb(45,45,45);">
			<div class="container">
				<div class="navbar-collapse collapse" id="navbar-main" >
					<ul class="nav navbar-nav">
						<a class="navbar-brand"><img src="img/favicon.png" width="50" height="50" style="margin-right:20px;">CsOptic</a>
						<li style="margin-top:1px;"><button type="button" style="outline:none;" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#flipModal">New Flip</button></li>
						<li style="margin-top:1px;"><button type="button" style="outline:none;" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#howitworksmodal">How it Works</button></li>
						<li style="margin-top:1px;"><button type="button" style="outline:none;" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#tradeLinkModal">Trade Link</button></li>
						<li style="margin-top:1px;"><button type="button" style="outline:none;" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#manageTradesModal">Manage Offers</button></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li v-if=" ! user"><a href="/auth/steam"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_noborder.png" style="margin-right:35px;"></a></li>
						<li v-else><a href="/logout" title="Click to Logout" style="margin-right:55px;"><img id="profilepic" class="img-responsive img-avatar" :src="user.photos[1].value" alt="Avatar"><strong id="username">{{ user.displayName }}</strong></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div>
			<div class="container maincontainer">
				<div class="row">
					<div class="col-md-8">
						<h1>CsOptic</h1>
						<p>CsOptic.com is set for launch August 1st, 2017. Prepare to go wild.</p>
						<br>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th width="300px;">Host</th>
									<th>Amount</th>
									<th>Skin Count</th>
								</tr>
							</thead>
							<tbody v-if="coinflips && coinflips.length > 0">
								<tr v-for="(flip, index) in coinflips" v-if="flip">
									<template v-if="flip.joinData">
										<td width="300px;">
											<img id="profilepic" class="img-responsive img-avatar" :src="flip.flipDetails.pic" alt="Avatar" style="width: 50px; height: 50px;display:inline;margin-right: 5px">
											<img v-if="flip.flipDetails.side == true" src="img\ct.png" class="table-side-selected-creator"></div>
											<img v-else src="img\t.png" class="table-side-selected-creator"></div>
											<span style="display:inline;margin-right: 15px; margin-left: 10px;font-size:15px;">vs.</span>
											<img id="profilepic" class="img-responsive img-avatar" :src="flip.joinData.data.pic" alt="Avatar" style="width: 50px; height: 50px;display:inline;margin-left:5px;">
											<img v-if="flip.flipDetails.side == false" src="img\ct.png" class="table-side-selected-joiner"></div>
											<img v-else src="img\t.png" class="table-side-selected-joiner"></div>
										</td>
										<td>${{ (flip.itemsAndDetails.value + flip.joinData.itemsAndDetails.value).toFixed(2) }}</td>
										<td>{{ flip.itemsAndDetails.count + flip.joinData.itemsAndDetails.count }}</td>
									</template>
									<template v-else>
										<td width="300px;">
											<img id="profilepic" class="img-responsive img-avatar" :src="flip.flipDetails.pic" alt="Avatar" style="width: 50px; height: 50px;display:inline;margin-right: 5px">
											<img v-if="flip.flipDetails.side == true" src="img\ct.png" class="table-side-selected-creator">
											<img v-else src="img\t.png" class="table-side-selected-creator">
											<span style="display:inline;margin-right: 15px; margin-left: 10px;font-size:15px;">vs.</span>
											<img src="img\blank-avatar.png" style="width:50px;height:50px;display:inline;margin-left:5px;border-radius:50%;">
										</td>
										<td>${{ flip.itemsAndDetails.value.toFixed(2) }}</td>
										<td width="122px;">{{ flip.itemsAndDetails.count }}</td>
									</template>
									<td v-if="flip.joinable && user.id != flip.flipDetails.steamID64" width="220px;">
										<button class="btn btn-default watchbtn" style="outline:none;margin-right:15px;margin-left:27px;" data-toggle="modal" data-target="#watchflipmodal" v-on:click="clickWatchModal(index)">Watch</button>
										<button class="btn btn-primary" style="width:77px;margin-right:-52px;" data-toggle="modal" data-target="#joinFlipModal" v-on:click="flipIndexClicked = index">Join</button>
									</td>
									<td v-else-if="userHasFlip == true || ! user" width="220px;">
										<button class="btn btn-default watchbtn" style="outline:none;float:right;margin-right:7px;" data-toggle="modal" data-target="#watchflipmodal" v-on:click="clickWatchModal(index)">Watch</button>	
									</td>
									<td v-else width="220px;">
										<button class="btn btn-default watchbtn" style="outline:none;float:right;margin-right:7px;" data-toggle="modal" data-target="#watchflipmodal" v-on:click="clickWatchModal(index)">Watch</button>
									</td>
								</tr>
							</tbody>
							<tbody v-else class="nohover">
								<td colspan="4"><em>No current flips</em></td>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<div class="container-fluid" style="width:350px;">
							<div id="chatbox" class="content" data-mcs-axis="y" data-mcs-theme="light-2">
								<p v-if=" ! user"><strong>Hello, log in with Steam to use this chat.</strong></p>
								<p v-else><strong>Hello {{ user.displayName }}, welcome to the chat.</strong></p>
							</div>
							<div id="textarea">
								<form id="chatboxsendbutton" action="">
									<input id="m" autocomplete="off" />
									<button class="btn btn-primary" style="height:40px;width:69px;margin-top:-2px;margin-left:-4px;">Send</button>
								</form>
							</div>
						 <!--Twitter Shit-->
							<div id="info" style="margin-right:40px;">
								<a class="twitter-timeline" data-width="320" data-height="396" data-chrome="transparent noscrollbar" data-dnt="true" data-theme="dark" href="https://twitter.com/cs_optic">Tweets by CsOptic</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="flipModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
						<h4 class="modal-title">New Flip</h4>
					</div>
					<div class="modal-body container-fixed">
						<div class="row">
							<div class="col-xs-12">
								<div class="alert alert-info text-center">
									Click the items you want to add to the coinflip.
								</div>
							</div>
						</div>
						<div class="row" style="background-color:rgb(45,45,45);margin-right:0px;margin-left:0px;height:528px;">
							<div class="col-xs-6">
								<div class="well text-center inventorybutton">
									Your inventory
								</div>
								<div class="csgo-items high scrollbar" id="style-3" style="width:262px;">
									<div v-if=" ! userInventory.error && userInventory.length && !invalidTradelink">
										<div class="csgo-item csgo-item--rare" :class="`csgo-item--${item.item_type.name}`" v-for="item in userInventory" v-if=" ! item.hidden && userInventorySelected.find((e) => {return e.assetid == item.assetid}) === undefined && item.price > rates.ignore"
										 v-on:click="addItem(item.assetid, item.price, item.data.image, item.data.market_hash_name)">
											<div class="csgo-item--title">{{ item.data.market_hash_name }}</div>
											<div class="csgo-item--st" v-if="item.data.market_hash_name.indexOf('StatTrak') !== -1">ST</div>
											<div class="csgo-item--wear" v-if="item.item_wear">{{ item.item_wear }}</div>
											<div class="csgo-item--price">${{ item.price }}</div>
											<div class="csgo-item--bg" :style="`background-image:url(https://steamcommunity-a.akamaihd.net/economy/image/${item.data.image});`"></div>
										</div>
									</div>
									<div v-else-if="userInventory.error">
										<div v-if="userInventory.error.statusCode == 403">
											<div class="alert alert-danger" style="margin:0">
												<strong>Your profile or inventory settings are set to private. We can't acquire the items of your CS:GO inventory.</strong>
												<div><a href="http://steamcommunity.com/id/me/edit/settings" target="_blank">Change your Steam privacy settings here.</a>													After that's done you can <a href="#">try reloading inventories</a>.</div>
											</div>
											<div class="alert alert-warning">
												<strong>If you're certain your privacy settings are public please contact the administrator or try again later.</strong>
												<div>Sometimes Steam has issues with its stability of the inventory servers. Make sure that Steam is not broken
												<a href="http://steamstat.us" target="_blank"><strong>here</strong></a>.</div>
											</div>
										</div>
										<div v-else>
											<div class="alert alert-danger">
												<strong v-if="userInventory.error.error">{{ userInventory.error.error }}</strong>
												<strong v-else>Something went wrong.. please try again!</strong>
												<span v-if="userInventory.error.statusCode">({{ userInventory.error.statusCode }})</span>
											</div>
										</div>
									</div>
									<div v-else-if=" ! user.steamID64">
										<div class="alert alert-info" style="margin-right:30px;">Please authenticate to create a new coinflip.</div>
									</div>
									<div v-else-if="invalidTradelink"  style="margin-left:15px;margin-top:10px;">
										<strong>Please update your <br> trade link <strong data-dismiss="modal" data-toggle="modal" data-target="#tradeLinkModal" class="tradelinkLink">here</strong></strong>
									</div>
									<div v-else>
										<div class="alert alert-info"><img src="img/load.gif" alt="">Please wait..</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-xs-6">
								<div div class="well text-center inventorybutton">
									Selected items
								</div>
								<div class="csgo-items high scrollbar" id="style-3" style="width:262px;">
									<div v-if=" ! userInventory.error && userInventorySelected.length > 0">
										<div class="csgo-item csgo-item--rare" :class="`csgo-item--${item.item_type.name}`" v-for="item in userInventory" v-if="userInventorySelected.find((e) => {return e.assetid == item.assetid}) !== undefined"
										 v-on:click="removeItem(item.assetid, item.price)">
											<div class="csgo-item--title">{{ item.data.market_hash_name }}</div>
											<div class="csgo-item--st" v-if="item.data.market_hash_name.indexOf('StatTrak') !== -1">ST</div>
											<div class="csgo-item--wear" v-if="item.item_wear">{{ item.item_wear }}</div>
											<div class="csgo-item--price">${{ item.price }}</div>
											<div class="csgo-item--bg" :style="`background-image:url(https://steamcommunity-a.akamaihd.net/economy/image/${item.data.image});`"></div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<br>
						<div class="modal-footer" style="height:80px;">
							<div class="row">
								<div class="col-xs-1" style="margin-top:-10px;">
									<strong>Select your side:</strong>
								</div>
								<div class="col-xs-5" style="margin-top:-5px;">
									<img src="img/t.png" style="width:50px;height:50px;margin-right:30px;" v-on:click="switchCoinside(false)" v-bind:class="{ selected:ctSide==false }">
									<img src="img/ct.png" style="width:50px;height:50px;margin-right:8px;" v-on:click="switchCoinside(true)" v-bind:class="{ selected:ctSide==true }">
								</div>
								<div class="col-xs-6">
									<span class="price">
									<span class="well well-sm" style="background-color:rgb(55,55,55);">${{ userInventorySelectedValue.toFixed(2) }}</span>
									</span>
									<button type="button" class="btn btn-primary" style="background-color:rgb(55,55,55);margin-bottom:2px;height:38px;outline:none;" data-dismiss="modal"
									 v-on:click="cancelFlip">Cancel</button>
									<button type="button" class="btn btn-primary" style="margin-bottom:2px;margin-left:-.3px;height:38px;outline:none;" v-on:click="createFlip">Create</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="joinFlipModal" class="modal fade" v-if="coinflips">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
						<h4 class="modal-title">Join Flip</h4>
					</div>
					<div class="modal-body container-fixed">
						<div class="row">
							<div class="col-xs-12">
								<div class="alert alert-info text-center">
									Click the items you want to add to the coinflip.
								</div>
							</div>
						</div>
						<div class="row" style="background-color:rgb(45,45,45);margin-right:0px;margin-left:0px;height:528px;">
							<div class="col-xs-6">
								<div class="well text-center inventorybutton">
									Your inventory
								</div>
								<div class="csgo-items high scrollbar" id="style-3" style="width:262px;">
									<div v-if=" ! userInventory.error && userInventory.length">
										<div class="csgo-item csgo-item--rare" :class="`csgo-item--${item.item_type.name}`" v-for="item in userInventory" v-if=" ! item.hidden && userInventorySelected.find((e) => {return e.assetid == item.assetid}) === undefined && item.price > rates.ignore"
										 v-on:click="addItem(item.assetid, item.price, item.data.image, item.data.market_hash_name)">
											<div class="csgo-item--title">{{ item.data.market_hash_name }}</div>
											<div class="csgo-item--st" v-if="item.data.market_hash_name.indexOf('StatTrak') !== -1">ST</div>
											<div class="csgo-item--wear" v-if="item.item_wear">{{ item.item_wear }}</div>
											<div class="csgo-item--price">${{ item.price }}</div>
											<div class="csgo-item--bg" :style="`background-image:url(https://steamcommunity-a.akamaihd.net/economy/image/${item.data.image});`"></div>
										</div>
									</div>
									<div v-else-if="userInventory.error">
										<div v-if="userInventory.error.statusCode == 403">
											<div class="alert alert-danger" style="margin:0">
												<strong>Your profile or inventory settings are set to private. We can't acquire the items of your CS:GO inventory.</strong>
												<div><a href="http://steamcommunity.com/id/me/edit/settings" target="_blank">Change your Steam privacy settings here.</a>													After that's done you can <a href="#">try reloading inventories</a>.</div>
											</div>
											<div class="alert alert-warning">
												<strong>If you're certain your privacy settings are public please contact the administrator or try again later.</strong>
												<div>Sometimes Steam has issues with its stability of the inventory servers. Make sure that Steam is not broken
												<a href="http://steamstat.us" target="_blank"><strong>here</strong></a>.
												</div>
											</div>
										</div>
										<div v-else>
											<div class="alert alert-danger">
												<strong v-if="userInventory.error.error">{{ userInventory.error.error }}</strong>
												<strong v-else>Something went wrong.. please try again!</strong>
												<span v-if="userInventory.error.statusCode">({{ userInventory.error.statusCode }})</span>
											</div>
										</div>
									</div>
									<div v-else-if=" ! user.steamID64">
										<div class="alert alert-info" style="margin-right:30px;">Please authenticate to join a coinflip.</div>
									</div>
									<div v-else>
										<div class="alert alert-info"><img src="img/load.gif" alt="">Please wait..</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-xs-6">
								<div div class="well text-center inventorybutton">
									Selected items
								</div>
								<div class="csgo-items high scrollbar" id="style-3" style="width:262px;">
									<div v-if=" ! userInventory.error && userInventorySelected.length > 0">
										<div class="csgo-item csgo-item--rare" :class="`csgo-item--${item.item_type.name}`" v-for="item in userInventory" v-if="userInventorySelected.find((e) => {return e.assetid == item.assetid}) !== undefined"
										 v-on:click="removeItem(item.assetid, item.price)">
											<div class="csgo-item--title">{{ item.data.market_hash_name }}</div>
											<div class="csgo-item--st" v-if="item.data.market_hash_name.indexOf('StatTrak') !== -1">ST</div>
											<div class="csgo-item--wear" v-if="item.item_wear">{{ item.item_wear }}</div>
											<div class="csgo-item--price">${{ item.price }}</div>
											<div class="csgo-item--bg" :style="`background-image:url(https://steamcommunity-a.akamaihd.net/economy/image/${item.data.image});`"></div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<br>
						<div class="modal-footer" style="height:80px;">
							<div class="row">
								<div class="col-xs-12">
									<span class="price">
										<span class="well well-sm">${{ userInventorySelectedValue.toFixed(2) }}</span>
									</span>
									<button type="button" class="btn btn-primary" style="background-color:rgb(55,55,55);margin-bottom:2px;height:38px;outline:none;" data-dismiss="modal"
									v-on:click="cancelFlip">Cancel</button>
									<div v-if="coinflips && coinflips.length > 0 && coinflips[flipIndexClicked] && flipIndexClicked != -1 && userInventorySelectedValue.toFixed(2) > (coinflips[flipIndexClicked].itemsAndDetails.value)-((coinflips[flipIndexClicked].itemsAndDetails.value)*site.flipMinimumPercentageMultiplier)" style="float:right;">
										<button type="button" class="btn btn-primary" style="outline:none;height:38px;width:80px;margin-left:4px;" v-on:click="joinFlip">Join</button>
									</div>
									<div v-else style="float:right;">
										<button type="button" class="btn btn-disabled" style="outline:none;height:38px;width:80px;margin-left:4px;color:black;">Join</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="tradeLinkModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<h3>Trade link</h3>
						<div class="alert alert-danger" v-if="user.tradelink && user.tradelink.length > 0 && invalidTradelink">
							<strong>Invalid tradelink!</strong>
						</div>
						<h4><a href="http://steamcommunity.com/id/me/tradeoffers/privacy#trade_offer_access_url" target="_blank">Where do I find this?</a></h4>
						<input type="text" class="form-control" v-model="user.tradelink">
						<hr style="opacity:0; margin: 7.5px 0;">
						<a class="btn btn-primary btn-lg updatebutton" style="background-color:rgb(50,50,50);" v-on:click="updateTradelink">Update</a>
						<hr>
						<p>By adding your Steam Trade url you make it possible for our bots to send you a trade offer without the need to add
							you as a friend on steam.</p>
						<p>This is completely safe and no items can be traded before you have inspected and accepted the offer from your steam page.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" style="outline:none;" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="manageTradesModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="height:60px;">
						<h3 style="margin-top:1px;">Manage Offers</h2>
					</div>
					<div class="modal-body" style="min-height:100px;">
						<strong>If you've won any flips in the past and are concerned about where your items have gone, worry not.
						By pressing this button our bots will send you a trade offer with all outstanding items associated with your steam ID.
						We associate your items with your steam ID by using the item data for each particular item, so you'll recieve the exact items
						that were involved in the flips you missed out on.</strong>
						<br>
						<br>
						<strong style="text-decoration:underline;">Click here to retrieve your items:</strong>
						<button id="tradeStoredItems" class="btn btn-primary manageItemsBtn" v-on:click="tradeOwedItems" data-toggle="modal" data-target="#tradeoffer"> Click Here </button>
						<button class="btn btn-primary manageItemsBtn" v-on:click="tradeOwedItems"> Click Here </button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" style="outline:none;" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="watchflipmodal" v-if="coinflips && coinflips[flipIndexClicked]">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="height:60px;width:599px;margin-left:-1px;">
						<p style="margin-top:-10px;font-size:22px;"><image width="50px" height="50px" src="img/favicon.png">CsOptic</p>
					</div>
					<div class="modal-body" style="width:599px;margin-left:-1px;">
						<div class="row">
							<div class="col-xs-4 watch-playerinfo" align="center" style="padding:20px;">
								<img style="height:100px;width:100px;border-radius:5px;" :src="coinflips[flipIndexClicked].flipDetails.pic">
								<div v-if="coinflips[flipIndexClicked].flipDetails.side == true"><img src="img\ct.png" class="side-selected"></div>
								<div v-else><img src="img\t.png" class="side-selected"></div>
							</div>
							<div class="col-xs-4" align="center">
								<div id="coin-flip-cont">
									<div id="coin">
										<div class="front"></div>
										<div class="back"></div>
									</div>
								</div>
							</div>
							<div class="col-xs-4 watch-playerinfo" align="center" style="padding:20px;">
								<div v-if="!coinflips[flipIndexClicked].joinData">
									<img style="height:100px;width:100px;border-radius:5px;" src="img\blank-avatar.png">
								</div>
								<div v-else>
									<img style="height:100px;width:100px;boder-radius:5px;" :src="coinflips[flipIndexClicked].joinData.data.pic">
									<div v-if="coinflips[flipIndexClicked].flipDetails.side == false"><img src="img\ct.png" class="side-selected"></div>
									<div v-else><img src="img\t.png" class="side-selected"></div>
								</div>
							</div>		
						</div>
						<div class="row">
							<div class="col-xs-4 watch-playerinfo" align="center">
								<strong> {{ coinflips[flipIndexClicked].flipDetails.name }} </strong>
							</div>
							<div class="col-xs-4" align="center">
								<strong>Amount</strong>
							</div>
							<div class="col-xs-4 watch-playerinfo" align="center">
								<div v-if="!coinflips[flipIndexClicked].joinData">
									<strong>User</strong>
								</div>
								<div v-else>
									<strong> {{ coinflips[flipIndexClicked].joinData.data.name }} </strong>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-xs-4 watch-playerinfo" align="center">
								<strong> ${{ coinflips[flipIndexClicked].itemsAndDetails.value.toFixed(2) }} </strong>
							</div>
							<div class="col-xs-4" align="center">
								<div v-if="!coinflips[flipIndexClicked].joinData">
									<strong> 0.00 </strong>
								</div>
								<div v-else>
									<strong> {{ (coinflips[flipIndexClicked].itemsAndDetails.value + coinflips[flipIndexClicked].joinData.itemsAndDetails.value).toFixed(2) }} </strong>
								</div>
							</div>
							<div class="col-xs-4 watch-playerinfo" align="center">
								<div v-if="!coinflips[flipIndexClicked].joinData">
									<strong>$0.00</strong>
								</div>
								<div v-else>
									<strong> ${{ coinflips[flipIndexClicked].joinData.itemsAndDetails.value.toFixed(2) }} </strong>
								</div>
							</div>
						</div>
						<hr>
						<div class="row" style="margin-top:5px;">
							<div class="col-xs-6">
								<div v-for="item in coinflips[flipIndexClicked].flipDetails.user" class="watch-csgo-item">
									<div class="watch-csgo-item watch-csgo-item-bg" :style="`background-image:url(https://steamcommunity-a.akamaihd.net/economy/image/${item.image});`"></div>
									<div class="watch-csgo-item-price">${{ item.price }}</div>
									<strong class="watch-csgo-item-name"> {{ item.name }} </strong>
								</div>
							</div>
							<div class="col-xs-6">
								<div v-if="!coinflips[flipIndexClicked].joinData">
								<strong style="margin-left:45px;">Waiting for User to Join</strong>
								</div>
								<div v-else>
									<div v-for="item in coinflips[flipIndexClicked].joinData.data.user" class="watch-csgo-item">
										<div class="watch-csgo-item watch-csgo-item-bg" :style="`background-image:url(https://steamcommunity-a.akamaihd.net/economy/image/${item.image});`"></div>
										<div class="watch-csgo-item-price">${{ item.price }}</div>
										<strong class="watch-csgo-item-name"> {{ item.name }} </strong>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer" style="width:599px;margin-left:-1px;">
						<div class="row">
							<div class="col-xs-10">
								<p style="float:left;font-size:10px;">Server Hash: {{ coinflips[flipIndexClicked].serverHash }} </p>
								<p style="float:left;font-size:10px;margin-bottom:-10px;">Client Seed: {{coinflips[flipIndexClicked].flipDetails.clientSeed }} </p>
							</div>
							<div class="col-xs-2">
								<button type="button" class="btn btn-primary" style="outline:none;" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="howitworksmodal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">How it Works</h4>
					</div>
					<div class="modal-body">
						<h4>Our Method:</h4>
						<p>CsOptic uses the Double Blind provably fair system. That is, neither you nor the CsOptic server knows who will win the
							bet until the bet is over. This is usually just called Provably Fair, but many (almost all) CS:GO betting websites
							don't do this. They know who the winner is and can fix the bet before the bet is over with.</p>
						<p>The CsOptic site works by having both the server AND the user generate a sha256 encrypted hash. Because the determining
							numbers are generated by both the server and the user and then merged, neither the server or user can fix the bet.
						</p>
						<h4>Disclaimer:</h4>
						<p>By placing a bet on CsOptic.com, you are confirming that you are above 18 years of age and are fully responsible for
							your own actions. CsOptic.com is not responsible for any items lost due to negligence or irresponsible behavior. CsOptic.com
							reserves the right to suspend any bets placed on any user's account if deemed necessary by administration. With all
							of this said, we do our best to provide the most exciting and enjoyable platform available on the web. Thank you for
							choosing CsOptic.com.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" style="outline:none;" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="tradeoffer">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<h3>Trade status</h3>
						<div class="alert alert-info" v-if=" ! offerStatus.error && offerStatus.status != 3">
							<strong v-if="offerStatus.status == 4"><img src="img/load.gif" alt=""> Validating requested trade..</strong>
							<strong v-if="offerStatus.status == 1"><img src="img/load.gif" alt=""> Preparing to send offer..</strong>
							<strong v-if="offerStatus.status == 2"><img src="img/load.gif" alt=""> Confirming sent offer..</strong>
						</div>
						<div v-else-if=" ! offerStatus.error && offerStatus.status == 3">
							<div class="alert alert-success">
								<strong>Requested trade has been sent successfully!
                                    <a :href="`http://steamcommunity.com/tradeoffer/${offerStatus.offer}`" target="_blank">Click here to open the trade offer.</a>
                                </strong>
							</div>
							<div class="alert alert-warning">This trade offer will expire in <strong>10 minutes</strong>.</div>
						</div>
						<div v-else>
							<strong v-if="offerStatus.error.code === 429">We are being rate-limited and could not send the offer. Please try again later.</strong>
							<strong v-else>{{ offerStatus.error }}</strong>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" style="background-color:rgb(55,55,55)" class="btn btn-default" data-target="#tradeofferModalClose" v-on:click="reset tradeofferModalClose">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="winnerTradeOffer">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div v-if="ctWin == true"><h3 style="font-size:10px;">Congratulations, you have won as Counter-Terrorists.</h3></div>
					<div v-else><h3 style="font-size:10px;">Congratulations, you have won as Terrorists.</h3></div>
				</div>
				<div class="modal-body">
					<h3>Trade Status</h3>
					<div class="alert alert-info" v-if=" ! offerStatus.error && offerStatus.status != 3">
						<strong v-if="offerStatus.status == 4"><img src="img/load.gif" alt=""> Validating requested trade..</strong>
						<strong v-if="offerStatus.status == 1"><img src="img/load.gif" alt=""> Preparing to send offer..</strong>
						<strong v-if="offerStatus.status == 2"><img src="img/load.gif" alt=""> Confirming sent offer..</strong>
					</div>
					<div v-else-if=" ! offerStatus.error && offerStatus.status == 3">
						<div class="alert alert-success">
							<strong>Requested trade has been sent successfully!
								<a :href="`http://steamcommunity.com/tradeoffer/${offerStatus.offer}`" target="_blank">Click here to open the trade offer.</a>
							</strong>
						</div>
						<div class="alert alert-warning">This trade offer will expire in <strong>10 minutes</strong>.</div>
					</div>
					<div v-else>
						<strong v-if="offerStatus.error.code === 429">We are being rate-limited and could not send the offer. Please try again later.</strong>
						<strong v-else>{{ offerStatus.error }}</strong>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" style="background-color:rgb(85,85,85)" class="btn btn-default" data-dismiss="modal" v-on:click="reset">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<a href='https://twitter.com/cs_optic' target="_blank"><i class="fa fa-twitter fa-3x fa-fw" align="center"></i></a>
			</div>
			<div class="col-xs-3" style="margin-top:10px;">
				<strong style="float:right;font-size:10px;">Please contact us with any questions, comments or concerns:<br>CsOpticBets@gmail.com</strong>
			</div>
		</div
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</body>

</html>