#chatbox {
	height:400px;
    max-width:319px;
    margin-top:30px;
    padding:20px;
    border-radius:3px;
    border-style: solid;
    border-width: 2px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-color: rgb(45,45,45);
	background-color: rgba(50,50,50,0.4);
}

#chatboxsendbutton input {
	background-color: rgba(50,50,50,0.4);
	border-color: rgb(45,45,45);
	border-width: 2px;
	border-bottom-left-radius: 15px;
	border-style: solid;
	color: white;
	outline: none;
	padding-left: 8px;
	width:250px;
	height:40px;
}

#chatboxsendbutton button {
	border-color: rgb(45,45,45);
	border-width: 2px;
	border-bottom-right-radius: 15px;
	outline: none;
	background-color: red;
}

#chatboxsendbutton button:hover {
	background-color: rgb(168, 0, 0);
}

p > hr {
    height: 1px;
    color: rgba(78,93,108,0.1);
    background-color: rgba(78,93,108,0.3);
    margin-top: 11px;
    margin-bottom: 11px;
    border: none;
}

.maincontainer {
	background-color:rgba(40,40,40,0.5);
	margin-top:7px;
	border-color:rgb(45,45,45);
}

.modal-body {
	background-color: rgb(40,40,40);
}

.updatebutton {
	background-color:rgb(55,55,55);
}

.updatebutton:hover {
	background-color:rgb(35,35,35);
}

.updatebutton:active {
	background-color:rgb(32,32,32) !important;
}

.watchbtn {
	background-color:rgb(40,40,40);
}

.watchbtn:hover {
	background-color:rgb(35,35,35);
}

.watchbtn:active {
	background-color:rgb(30,30,30) !important;
}

.watchbtn:focus {
	background-color:rgb(30,30,30);
}

.navbar-btn:hover {
	background-color:rgb(40,40,40) !important;
}

.chatpic {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#navbar-main * {
	position:static;
    line-height: 57px !important;
    font-size: 14px;
	background-color: transparent;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    line-height: 52px;
    vertical-align: middle;
    padding: 7px;
}

.table>thead>tr>th {
	background-color: rgba(40,40,40,0.0)
}

.table-striped>tbody>tr:nth-of-type(even) {
	background-color: rgb(50,50,50);
}

.table-striped>tbody>tr:nth-of-type(even):hover {
	background-color: rgba(55,55,55,0.6);
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(45,45,45);
}

.table-striped>tbody>tr:nth-of-type(odd):hover {
	background-color: rgb(46,46,46);
}

.nohover {
    pointer-events:none;
}

p > img, a > img {
    display: inline !important;
    padding: 3px;
}

#profilepic {
    width: 50px; height: 50px;
    border-radius: 50%;
}

#username {
    margin-left: 5px;
}

#info {
    margin-top: 20px;
	border-style: solid;
	border-width: 2px;
    max-height:400px;
    max-width:321px;
    min-height:400px;
    min-width:321px;
	border-radius: 8px;
	border-color: rgb(45,45,45);
	background-color: rgba(50,50,50,0.4);
	margin-bottom:20px;
}

#style-3::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(45,45,45);
}

#style-3::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
	background-color: #B20000;
}

.modal {
	overflow-y: initial;
}

.list-unstyled {
    display: list-item;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 70px;
    font-family: 'Exo', sans-serif;
    margin-bottom: 89px;
	background-image:url("../img/Background2.jpg");
	background-color:rgb(40,40,40);
	background-size:cover;
}

.inventorybutton {
margin-top:5%	
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(35,35,35,0.5);
  text-align: center;
}

.footer * {
    vertical-align: middle;
    display: inline;
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}

.fa-vine {
    color: #00a478;
}

.fa-flickr {
    color: #ff0084;
}

.fa-twitch {
    color: #6441A5;
}

.fa-linkedin {
    color: #007bb6;
}

.fa {
    opacity: 0.5;
    transition: 0.25s;
    -webkit-transition: 0.25s;
}

.fa:hover{
    opacity: 1;
    transition: 0.25s;
    -webkit-transition: 0.25s;
}

.well-sm {
    padding: 8px;
    border-radius: 0;
}
.price, strong, b {
    font-weight: 525;
}
.csgo-items {
    width: 293.5px;
    height: 293.5px;
    overflow: auto;
    display: block;
}
.csgo-items.high {
    height: 420px;
	width: 283px;
	position: absolute;
}
.csgo-items .well {
    border-radius: 0;
    margin: 0;
}
.csgo-item {
    width: 16.6666667%;
    height: 84px;
    width: 84px;
    background: rgba(0, 0, 0, .05);
    float: left;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05);
}
.csgo-item[disabled] {
    pointer-events: none;
    opacity: .75;
}
.csgo-item[disabled]:before {
    content: '';
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0, 0, 0, .1);
    z-index: 2;
}
.csgo-item:hover {
    cursor: pointer;
}
.csgo-item:hover .csgo-item--bg {
    background-size: 75%;
}
.csgo-item:hover .csgo-item--title {
    visibility: visible;
    z-index: 999;
}
.csgo-item--key {
    background: rgba(223, 240, 216, .5);
}
.csgo-item--knife {
    background: rgba(134,80,172, 0.5);
}
.csgo-item--rare_skin {
    background: rgba(252, 248, 227, .5);
}
.csgo-item--weapon {
    background:;
}
.csgo-item--bg {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
}
.csgo-item--st {
    position: absolute;
    top: 5px; left: 5px;
    color: orange;
    font-weight: 700;
    padding: 1px 3px;
    z-index: 2;
}
.csgo-item--wear {
    position: absolute;
    top: 5px; right: 5px;
    background: rgba(0, 0, 0, .1);
    padding: 1px 3px;
    z-index: 2;
}
.csgo-item--price {
    position: absolute;
    bottom: 5px; left: 10px; right: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    z-index: 2;
}
.csgo-item--title {
    visibility: hidden;
    width: 100%;
	top:100%;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 1px 3px;
    position: relative;
    z-index: 1;
}
.csgo-item--title:after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
	margin-left:-5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}
.csgo-items .alert {
    border-radius: 0;
}

.selected {
	border:solid;
	border-radius:30px;
	border-color:#8c8c8c;
}

.watch-csgo-item {
    width: 16.6666667%;
    min-height: 80px;
    min-width: 260px;
    background: rgba(0, 0, 0, .05);
    float: left;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .4);
	margin-bottom: 3px;
}

.watch-csgo-item-bg {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background-position: left;
    background-size: 60px;
    background-repeat: no-repeat;
}

.watch-csgo-items {
    width: 265px;
    height: 293.5px;
    overflow: auto;
    display: block;
}

.watch-csgo-item-price {
	position: absolute;
	left:143px; top: 50px;
    font-size: 16px;
    font-weight: 400;
}

.watch-csgo-item-name {
	position: absolute;
	left: 70px; top: 10px;
	font-size: 14px;
	word-wrap: normal;
	width: 180px;
	text-align:center;
}

.side-selected {
	position:absolute;
	right:38px; bottom:10px;
	width:35px;
	height:35px;
	z-index:1
}

.table-side-selected-creator {
	position:absolute;
	bottom:20px; 
	margin-left:35px;
	width:25px;
	height:25px;
	z-index:1
}

.table-side-selected-joiner {
	position:absolute;
	bottom:20px; 
	margin-left:150px;
	width:25px;
	height:25px;
	z-index:1
}

#coin-flip-cont {
width: 128px;
height: 128px;
}

#coin {
position: absolute;
width: 128px;
height:128px;
transform-style: preserve-3d;
z-index: 5000;
}

#coin .front, #coin .back {
position: absolute;
width: 128px;
height: 128px;
}

#coin .front {
transform: translateZ(1px) translateX(-1px);
height:128px;
width:128px;
border-radius:50%;
background-image: url("../img/t-small.png");
}

#coin .back {
transform: translateZ(-1px) rotateY(180deg);
height:128px;
width:127px;
border-radius:50%;
background-image: url("../img/ct-small.png");
}

#coin.animation900 {
-webkit-animation: rotate900 3s linear forwards; 
animation: rotate900 3s linear forwards;
}

#coin.animation1080 {
-webkit-animation: rotate1080 3s linear forwards; 
animation: rotate1080 3s linear forwards;
}

#coin.animation1260 {
-webkit-animation: rotate1260 3s linear forwards; 
animation: rotate1260 3s linear forwards;
}

#coin.animation1440 {
-webkit-animation: rotate1440 3s linear forwards; 
animation: rotate1440 3s linear forwards;
}

@-webkit-keyframes rotate900 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
}

@keyframes rotate900 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
}

@-webkit-keyframes rotate1080 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
}

@keyframes rotate1080 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
}

@-webkit-keyframes rotate1260 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1260deg); -moz-transform: rotateY(1260deg); transform: rotateY(1260deg); }
}

@keyframes rotate1260 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1260deg); -moz-transform: rotateY(1260deg); transform: rotateY(1260deg); }
}

@-webkit-keyframes rotate1440 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1440deg); -moz-transform: rotateY(1440deg); transform: rotateY(1440deg); }
}

@keyframes rotate1440 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1440deg); -moz-transform: rotateY(1440deg); transform: rotateY(1440deg); }
}